* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  min-height: 100vh;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.calculator-container {
  padding: 2.8125rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

h1 {
  text-align: center;
  font-weight: 500;
}

.form-group-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.form-group label {
  margin-right: 1.25rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.form-group input {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  border: 1px solid #d4d3d3;
  border-radius: 5px;
}

.btn-imc {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.9375rem 1.75rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

#restart {
  background-color: #525255;
}

#restart:hover {
  background-color: #605f5f;
}

#calculate {
  background-color: #00a0a3;
}

#calculate:hover {
  background-color: #01adaf;
}

.imc-result {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 35px;
}

h3 {
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
}

.imc-value {
  font-size: 4rem;
}

.classification {
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 1.5625rem;
  background-image: linear-gradient(
    to right,
    #ffa200 16%,
    #008200 16% 42%,
    #ed7b7d 42% 73%,
    #bf0839 73% 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.3125rem;
  background-position: bottom left;
}

.classifications-imc {
  margin: 0 0.3125rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.classifications-imc div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h4 {
  font-size: 0.75rem;
  color: #708090;
  text-transform: uppercase;
}

.classifications-imc p {
  font-size: 0.75rem;
}

@media (max-width: 480px) {
  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  .calculator-container {
    padding: 2.1875rem;
    gap: 20px;
  }
  h1 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
  }
  .form-group label {
    margin-right: 0;
    font-size: 0.9375rem;
    font-weight: 600;
  }
  .form-group input {
    margin-left: 0.9375rem;
    padding: 0.625rem;
    font-size: 0.9375rem;
  }
  .btn {
    padding: 0.75rem 1.125rem;
    font-size: 1.125rem;
  }
  .imc-result {
    gap: 25px;
  }
  h3 {
    font-size: 1.4375rem;
  }
  h2 {
    font-size: 3.875rem;
  }
  .classification {
    font-size: 1.25rem;
    padding-bottom: 1.5625rem;
    background-image: linear-gradient(
      to right,
      #ffa200 20%,
      #008200 20% 40%,
      #ed7b7d 40% 72%,
      #bf0839 2% 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 0.3125rem;
    background-position: bottom left;
  }
  .classifications-imc {
    margin: 0;
    text-align: center;
  }
  .classifications-imc div {
    display: flex;
    flex-direction: column;
  }
  h4 {
    font-size: 0.625rem;
    margin: 0 0.625rem 0.9375rem 0.625rem;
  }
  .classifications-imc p {
    font-size: 0.75rem;
  }
}
